#navbar-href  {
    cursor: pointer;
}

#navbar-href:hover h4 {
    transition: 0.75s;
    color: #440096;
}

@media screen and (max-width: 320px) {
    #name-header {
        position: relative;
        top: 2px;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 270px) {
    #name-header {
        font-size: 1em;
    }
}