<div class="col-12">
  <div class="card text-center">
    <h4 class="card-title">Welcome to the change username screen 123123123</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="card-block">
      <div class="card-block">
        <div class="col-6 offset-3">
          <div class="form" [formGroup]="userChangeUsernameForm">
            <div class="form-group">
              <label for="currentPassword">
                <strong>Your new username</strong>
                <i class="fa fa-user" aria-hidden="true"></i>
              </label>
              <div class="input-group">
                <input type="text" class="form-control" id="new-username" placeholder="You new username here" formControlName="newUsername">
                <span class="input-group-addon custom-input-addons" *ngIf="!userChangeUsernameForm.controls.newUsername.errors">
                  <i class="fa fa-check-circle-o input-checkbox" aria-hidden="true"></i>
                </span>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="userChangeUsernameForm.controls.newUsername.errors && hasTheFormBeenSubmitted">
                <strong>You must enter a usename between 4 and 12 characters long</strong>
            </div>
            </div>
            <div class="form-group">
              <label for="newPassword">
                <strong>Please enter your password</strong>
                <i class="fa fa-unlock" aria-hidden="true"></i>
              </label>
              <div class="input-group">
                <input type="password" class="form-control" id="password" placeholder="Super Secret" formControlName="password">
                <span class="input-group-addon custom-input-addons" *ngIf="!userChangeUsernameForm.controls.password.errors">
                  <i class="fa fa-check-circle-o input-checkbox" aria-hidden="true"></i>
                </span>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="userChangeUsernameForm.controls.password.errors && hasTheFormBeenSubmitted">
                <strong>Your password must be atleast 8 characters with one upper case letter, one lower case letter, one number,
                  and one special character</strong>
              </div>
            </div>
            <button type="button" class="btn btn-primary pull-left" (click)="toggleSubmitUsernameChange()">Submit New Username</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-error-modal [body]="modalBody"></app-error-modal>
