<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-block">
        <img id="bad-logo" class="img-fluid mx-auto d-block" src="https://res.cloudinary.com/dqukwohgi/image/upload/c_scale,g_north_west,h_200,q_100,r_30,w_200/v1512789023/logo_ybaslz.png">
        <div [ngSwitch]="authControl.isTheUserAuthenicated()" id="user-button-placeholder">
          <button *ngSwitchCase="false" id="register-button" class="btn btn-primary pull-left" [routerLink]="['../users/register']">Register</button>
          <button *ngSwitchCase="false" id="login-button" class="btn btn-primary pull-right" [routerLink]="['../users/login']">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <app-contact-me></app-contact-me>
  </div>
</div>