<!-- Start Main Row -->
<div class="row main-row">
  <!-- Start Column 1 -->
  <div class="col-sm-3 offset-sm-3">
    <!-- End Column 1 -->
  </div>
  <!-- Start Column 2 -->
    <div class="col-sm-6 offset-sm-3">
        <div class="card">
            <div class="card-block">
                <h1 class="text-center">Login</h1>
                <div class="form" [formGroup]="userLoginForm" (keydown)="handleDownKeyOnForm($event)">
                    <div class="form-group">
                        <label for="login-email">
                          <strong>Email Address</strong>
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon input-addon-fa">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                          </div>
                          <input type="email" class="form-control" id="login-email-input" placeholder="Enter email address" formControlName="email">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="userLoginForm.controls.email.errors && hasTheFormBeenSubmitted">
                            <strong>You must enter a valid email address</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-password">
                          <strong>Password</strong>
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon input-addon-fa">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                          </div>
                          <input type="password" class="form-control" id="login-password-input" placeholder="Enter password" formControlName="password">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="userLoginForm.controls.password.errors && hasTheFormBeenSubmitted">
                            <strong>This password does not meet our minimum requirements, did you forget your password? If so, click <a href="" [routerLink]="['../../users/forgot-password']">here</a> to reset it.</strong>
                        </div>
                    </div>
                    <button *ngIf="!hasSubmitButtonBeenClicked" type="button" class="btn btn-primary" (click)="toggleLoginUser()">Login</button>
                    <i *ngIf="hasSubmitButtonBeenClicked" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
                    <p id="dont-have-account-text">Dont have an account? Register <a href="" [routerLink]="['../../users/register']">Here</a></p>
                    <p>Forgot your password? Click <a href="" [routerLink]="['../../users/forgotpassword']">here</a></p>
                </div>
            </div>
        </div>
        <!-- End Column 2 -->
    </div>
    <!-- Start Column 3 -->
    <div class="col-sm-3">
      <!-- End Colum 3 -->
    </div>
    <!-- End Main Row -->
  </div>


  <app-error-modal [title]="modalTitle" [body]="modalBody"></app-error-modal>
