<div class="col-sm-12">
  <div class="card text-center">
    <h4 class="card-title">Welcome to the profile picture changer home screen</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="card-block">
      <input type="file" #fileInput placeholder="Upload file..." />
      <button type="button" (click)="toggleUploadImage()">Upload</button>
    </div>
  </div>
</div>

<app-error-modal [body]="modalBody"></app-error-modal>
