#image-uploader {
    position: relative;
    top: 150px;
    cursor: pointer;
    border: 5px dashed #000;
    transition: 0.5s;
}

#image-uploader:hover {
    background-color: #440096;
    border-color: rgb(0, 128, 0);
     color: rgb(0, 128, 0);
    transition: 0.5s;
}

.dragover-image-upload {
    background-color: #440096;
    border-color: rgb(0, 128, 0);
     color: rgb(0, 128, 0);
    transition: 0.5s;
}

@media screen and (max-width: 591px) {
    #main-card {
        margin-top: 10px;
        border: 0px;
    }

    #image-uploader {
        visibility: visible;
        top: 0px;
    }
}