<!-- Start Main Row -->
<div class="row main-row">
  <!-- Start Column 1 -->
  <div class="col-sm-3 offset-col-3">
  <!-- End Column 1 -->
  </div>
  <!-- Start Column 2 -->
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h1 class="text-center">Register</h1>
                <div class="form" [formGroup]="userRegistrationForm">
                    <div class="form-group">
                        <label for="username">
                            <strong>Username</strong>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="username-input" placeholder="Enter your username" formControlName="username">
                            <span class="input-group-addon custom-input-addons" *ngIf="!userRegistrationForm.controls.username.errors">
                                <i class="fa fa-check-circle-o input-checkbox" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="userRegistrationForm.controls.username.errors && hasTheFormBeenSubmitted">
                            <strong>You must enter a usename between 4 and 12 characters long</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-email">
                            <strong>Email Address</strong>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="login-email-input" placeholder="Enter email address" formControlName="email">
                            <span class="input-group-addon custom-input-addons" *ngIf="!userRegistrationForm.controls.email.errors">
                                    <i class="fa fa-check-circle-o input-checkbox" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="userRegistrationForm.controls.email.errors && hasTheFormBeenSubmitted">
                            <strong>You must enter a valid email address</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-password">
                            <strong>Password</strong>
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="login-password-input" placeholder="Enter password" formControlName="password">
                            <span class="input-group-addon custom-input-addons" *ngIf="!userRegistrationForm.controls.password.errors">
                                <i class="fa fa-check-circle-o input-checkbox" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="userRegistrationForm.controls.password.errors && hasTheFormBeenSubmitted">
                            <strong>Your password must be atleast 8 characters with one upper case letter, one lower case letter, one number, and one special character</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">
                            <strong>Confirm Password</strong>
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="control-password-input" placeholder="Confirm password" formControlName="confirmPassword">
                            <span class="input-group-addon custom-input-addons" *ngIf="!userRegistrationForm.controls.confirmPassword.errors">
                                    <i class="fa fa-check-circle-o input-checkbox" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="userRegistrationForm.controls.confirmPassword.errors && hasTheFormBeenSubmitted">
                            <strong>The passwords do not match</strong>
                        </div>
                    </div>
                    <button *ngIf="!hasSubmitButtonBeenClicked" type="button" class="btn btn-primary" (click)="toggleRegisterUser()">Register</button>
                    <i *ngIf="hasSubmitButtonBeenClicked" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
                    <p id="already-have-account-text">Already have an account? Login <a href="" [routerLink]="['../../users/login']">Here</a></p>
                </div>
            </div>
        </div>
        <!-- End Column 2 -->
    </div>
    <!-- Start Column 3 -->
    <div class="col-sm-3">
      <!-- End Column 3 -->
    </div>
<!-- End Main Row -->
</div>


<app-error-modal [title]="modalTitle" [body]="modalBody" [registrationSuccessful]="registrationSuccessful"></app-error-modal>
