<div class="row main-row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">

    <div *ngIf="!doesComponentHaveToken" class="card">
      <div class="card-block">
        <h1 class="text-center">Forgot password</h1>
        <p class="text-center">Please enter the email address associated with your account, we will send you an email so you can unlock your account</p>
        <div class="row">
          <div class="offset-2"></div>
          <div class="col-sm-8">
            <div class="form" [formGroup]="forgotPasswordForm" (keydown)="handleDownKeyOnForm($event)">
              <div class="form-group">
                <label for="login-email">
                  <strong>Email Address</strong>
                </label>
                <div class="input-group">
                  <div class="input-group-addon input-addon-fa">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <input type="email" class="form-control" id="login-email-input" placeholder="Enter email address" formControlName="email">
                  <span class="input-group-addon custom-input-addons" *ngIf="!forgotPasswordForm.controls.email.errors">
                    <i class="fa fa-check-circle-o input-checkbox" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="forgotPasswordForm.controls.email.errors && hasTheFormBeenSubmitted">
                  <strong>You must enter a valid email address</strong>
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="toggleForgotPasswordSubmit()">
                <div *ngIf="!hasTheFormBeenSubmitted">Submit</div>
                <i *ngIf="hasTheFormBeenSubmitted" class="fa fa-spinner fa-pulse fa-1x fa-fw" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="doesComponentHaveToken" class="card">
      <div class="card-block">
          <h1 class="text-center">Forgot password</h1>
          <p class="text-center">Please enter the password we sent in the forgot password email.</p>
          <div class="row">
            <div class="offset-2"></div>
            <div class="col-sm-8">
              <div class="form" [formGroup]="resetPasswordForm" (keydown)="handleDownKeyOnForm($event)">
                <div class="form-group">
                    <label for="token-password">
                      <strong>Token Password</strong>
                    </label>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


    <div class="col-sm-3"></div>
  </div>

  <app-error-modal [title]="modalTitle" [body]="modalBody"></app-error-modal>