<div class="card">
  <div class="card-title text-center">
    <h4>Users Administration</h4>
  </div>
  <div class="card-block">
    <div class="col-sm-12 offset-sm-1">
      <table id="users-table" class="table table-responsive" *ngIf="users?.length > 0">
        <tr>
          <th class="text-center">
            <strong>Username</strong>
          </th>
          <th class="text-center">
            <strong>Activation Status</strong>
          </th>
          <th class="text-center">
            <strong>Admin Status</strong>
          </th>
          <th class="text-center">
            <strong>Joined At</strong>
          </th>
        </tr>
        <tr class="text-center" *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>
            <button *ngIf="user.isActive" class="btn btn-primary" [attr.id]="user._id" [attr.username]="user.username" (click)="deactiveUserAccount($event.target.attributes.id.value, $event.target.attributes.username.value)">Deactive</button>
            <button *ngIf="!user.isActive" class="btn btn-danger" [attr.id]="user._id" [attr.username]="user.username" (click)="activeUserAccount($event.target.attributes.id.value, $event.target.attributes.username.value)">Activate</button>
          </td>
          <td>
            <button *ngIf="user.isAdmin" class="btn btn-primary" [attr.id]="user._id" [attr.username]="user.username" (click)="revokeUserAdminAccess($event.target.attributes.id.value, $event.target.attributes.username.value)">Revoke Admin</button>
            <button *ngIf="!user.isAdmin" class="btn btn-danger" [attr.id]="user._id" [attr.username]="user.username" (click)="makeUserAdmin($event.target.attributes.id.value, $event.target.attributes.username.value)">Make Admin</button>
          </td>
          <td>{{user.createdAt | date:'short'}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<app-error-modal [body]="modalBody" [title]="modalTitle"></app-error-modal>