<div class="col-xs-12" id="user-dashboard-navigation-column">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <button class="btn btn-primary btn-user-dashboard-navigation btn-block" id="dashboard-home-navlink" (click)="navigateDashboad($event)">Dashboard Home</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary btn-user-dashboard-navigation btn-block" id="change-username-navlink" (click)="navigateDashboad($event)">Change Username</button>

    </li>
    <li class="list-group-item">
      <button class="btn btn-primary btn-user-dashboard-navigation btn-block" id="change-password-navlink" (click)="navigateDashboad($event)">Change Password</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary btn-user-dashboard-navigation btn-block" id="change-profile-picture-navlink" (click)="navigateDashboad($event)">Profile Picture</button>
    </li>
  </ul>
</div>