<div class="modal fade" id="disclaimer-modal" tabindex="-1" role="dialog" aria-labelledby="disclaimer-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center" id="error-modal-title">Disclaimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">
          By registering for this website you agree to have various actions about your user experience tracked.
          <br/>
          <br/> An example of the types of information collect include, user actions (i.e. logging in), your IP address, and your
          location (if you allow us).
          <br/>
          <br/> If you are not ok with this, I would not recommend joining. P.S. upcoming features will allow you to view your
          information.
          <br/>
          <br/> If are expecting an email from us and have not received it, please check your spam folder.
          <br/>
          <br/>
        </p>
        <button class="btn btn-danger pull-left" (click)="handleDenyDisclaimerModal()">Deny</button>
        <button class="btn btn-primary pull-right" (click)="handleAccpectModalDisclaimer()">Accept</button>
      </div>
    </div>
  </div>
</div>